<template>
  <div class="page-example">
    <p class="display-4">404</p>
    <div>
      <v-btn class="text-center mt-4" color="primary" text @click="home()"
        >Перейти на главную</v-btn
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "PageNotFound",
  methods: {
    home() {
      this.$router.push({ name: "Home" });
    }
  }
};
</script>

<style scoped></style>
