@import "variables";
@import '~vuetify/src/styles/styles.sass';

.vue-notification-group {
  margin: 20px;
}
.vue-notification-template {
  border-radius: 6px;
}

.page-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 48px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
}


.v-input__icon--append .v-icon {
  font-size: inherit;
}
