$border-radius-root: 6px;

$chip-padding: 0 8px;
$chip-label-border-radius: 6.25px;

$card-border-radius: 6px;

$progress-linear-border-radius: 100px;

$btn-text-transform: 'none';
$btn-letter-spacing: 'normal';

$text-field-filled-full-width-outlined-slot-min-height: 50px;
