<template>
  <div class="page page-example">
    <v-card class="mx-auto" min-width="344" ref="form">
      <v-card-text>
        <p class="headline text-center pb-8">
          Вход
        </p>
        <div>
          <v-text-field
            class="form-item"
            dense
            outlined
            ref="email"
            name="email"
            v-model="email"
            :rules="[() => !!email || 'This field is required']"
            :error-messages="errorMessages"
            label="Email"
            required
          ></v-text-field>

          <v-text-field
            class="form-item"
            outlined
            dense
            v-model="password"
            :append-icon="showPassword ? 'fa-eye fa-sm' : 'fa-eye-slash fa-sm'"
            :rules="[() => !!password || 'This field is required']"
            :type="showPassword ? 'text' : 'password'"
            name="password"
            label="Пароль"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
        </div>
      </v-card-text>
      <v-card-actions class="pa-4">
        <v-btn style="width: 100%" color="primary" @click="submit()" depressed>
          Войти
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Auth",
  data: () => {
    return {
      showPassword: false,
      email: "",
      password: "",
      errorMessages: ""
    };
  },
  created() {},
  methods: {
    submit() {
      this.$store
        .dispatch("SIGN_IN", { email: this.email, password: this.password })
        .then(() => this.$router.push({ name: "Dashboard" }))
        .catch(() => {
          this.$toast.error("Ошбика авторизации");
        });
    }
  }
};
</script>

<style scoped>
.page {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-item {
  padding: 5px !important;
}
</style>
