<template>
  <v-app>
    <router-view />
    <notifications group="main" position="top right" />
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  })
};
</script>
