<template>
  <v-card width="256">
    <v-navigation-drawer permanent elevation="0">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Dashboard
          </v-list-item-title>
          <v-list-item-subtitle>
            subtext
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list dense nav>
        <v-list-item link @click="navigate('Profile')">
          <v-list-item-icon>
            <v-icon size="16">fa-user</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Профиль</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link @click="navigate('Settings')">
          <v-list-item-icon>
            <v-icon size="16">fa-cogs</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Настройки</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-4">
          <v-btn block depressed color="primary" @click="logout()">
            Выйти
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  name: "Navbar",
  methods: {
    navigate(name) {
      this.$router.push({ name });
    },
    logout() {
      this.$store.dispatch("LOGOUT").then(() => {
        this.$router.push({ name: "Home" });
      });
    }
  }
};
</script>

<style scoped></style>
