<template>
  <div class="dashboard">
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from "@/app/dashboard/shared/components/Navbar";
export default {
  components: { Navbar },
  name: "Dashboard",
  beforeCreate() {
    if (!this.isUserLoaded) {
      this.$store
        .dispatch("FETCH_USER")
        .catch(() => this.$router.push({ name: "Home" }));
    }
  },
  computed: {
    isUserLoaded() {
      return this.$store.getters.IS_USER_LOADED;
    }
  }
};
</script>

<style scoped></style>
